In [2]:
x=5
x+=10
print(x)

15

In [3]:
x*=15
print(x)

225

In [4]:
x-=12
print(x)

213

In [5]:
x = [1, 2, 3, 4]
print(3 in x)    
print(5 in x)

True
False

In [6]:
fruits = ["apple", "banana", "mango"]
print("banana" in fruits)

True

#loop

## 2. Looping Statements

Loops are used to execute a block of code repeatedly.

### 2.1 `for` Loops

`for` loops are used to iterate over a *sequence* (like a list, tuple, dictionary, set, or string) or other *iterable* object.

**Syntax:**

```python
for variable in iterable:
    # Code block to execute for each item in the iterable
    # 'variable' takes the value of the current item in each iteration
    print(variable)

In [8]:
number = [1,2,3,4,10,6, 4, 66, 77]
string = """Global web icon
We would like to show you a description …

"""
number[0]

1

In [11]:
for i in number:
    print(i)

1
2
3
4
10
6
4
66
77

In [15]:
for k in string:
    print(k, end=' ')

G l o b a l   w e b   i c o n
 W e   w o u l d   l i k e   t o   s h o w   y o u   a   d e s c r i p t i o n   …

In [17]:
for i,y in enumerate(number):
    print(i,y)

0 1
1 2
2 3
3 4
4 10
5 6
6 4
7 66
8 77

In [18]:
for i,y in enumerate(number):
    print(i+1,y)

1 1
2 2
3 3
4 4
5 10
6 6
7 4
8 66
9 77

In [19]:
for _,y in enumerate(number):
    print(y)

1
2
3
4
10
6
4
66
77

#Indexing

range(stop)
range(start, stop)
range(start, stop, step)

In [22]:
query=(1,2,4,5,6,7,8,8,9,19)

In [23]:
range(2)

range(0, 2)

In [26]:
range(30,100)
for i in range(10,100):
    print(i, end=' ')

10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [27]:
range(30,100)
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [29]:
range(50,100)
for i in range(20):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

# Example 2: Looping through a list
fruits = ["apple", "banana", "mango"]
for fruit in fruits:
    print("the name of fruit is",fruit)

In [34]:
for i,fruits in enumerate(fruits):
    print(i,fruits)

0 apple
1 banana
2 mango

while loops execute a block of code  a specified condition remains True.
while condition:
# Code block to execute as long as condition is True
print("Condition is still True")
# IMPORTANT: Usually, something inside the loop needs to
# change the condition, otherwise it might loop forever!

In [35]:
count = 0
print("Counting up to 5 using while loop:")
while count < 5:
    print(f"Count is: {count}")
    count += 1

print("Loop finished.")
print("-" * 20)

Counting up to 5 using while loop:
Count is: 0
Count is: 1
Count is: 2
Count is: 3
Count is: 4
Loop finished.
--------------------

In [39]:
count = 20
print("Counting up to 5 using while loop:")
while count >5:
    print(f"Count is: {count}")
    count -= 1

print("Loop finished.")
print("-" * 20)

Counting up to 5 using while loop:
Count is: 20
Count is: 19
Count is: 18
Count is: 17
Count is: 16
Count is: 15
Count is: 14
Count is: 13
Count is: 12
Count is: 11
Count is: 10
Count is: 9
Count is: 8
Count is: 7
Count is: 6
Loop finished.
--------------------

In [38]:
count=10
print("counting up to 5 using while loop:")
while count < 7:
    print(f"count is: {count}")
    count +=1

print("loop finished.")
print("-" * 20)

counting up to 5 using while loop:
loop finished.
--------------------

In [42]:
user_input = ""
print("Enter 'quit' or 'QUIT' to exit.")


while user_input != "QUIT":
    user_input = input("Enter command: ")
    print(f"You entered: {user_input}")
    user_input=user_input.upper()

print("Exited the loop because input was 'quit'.")

Enter 'quit' or 'QUIT' to exit.

Enter command:  QUIT

You entered: QUIT
Exited the loop because input was 'quit'.

user_input = ""
print("Enter 'quit' to exit.")


while user_input != "QUIT":
    user_input = input("Enter command: ")
    print(f"You entered: {user_input}")

print("Exited the loop because input was 'quit'.")

In [43]:
# Example 1: break
print("Finding the first multiple of 7 between 1 and 20:")
lists = []
for number in range(1, 21):
   
    if number % 7 == 0:
        print(f"Found it! {number} is a multiple of 7.")
        break
    else:
        lists.append(number)

print("Loop finished or broken.")
print("Lists:", lists)

Finding the first multiple of 7 between 1 and 20:
Found it! 7 is a multiple of 7.
Loop finished or broken.
Lists: [1, 2, 3, 4, 5, 6]